# URL base del API Gateway (Kong) — puerto HTTP proxy por defecto
VITE_API_URL=http://localhost:8000/api/v1

# Activar interceptores MSW para desarrollo sin backend (true | false)
# En producción debe ser false
VITE_USE_MOCKS=true
